* {
  background-color: rgb(131, 194, 204);
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: 'Exo', sans-serif;
  font-size: 20px;
}

.gameboard {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
  
}

.box {
  width: 200px;
  height: 200px;
  border: solid 2px black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.circle {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 30px solid rgb(46, 46, 191);
  box-sizing: border-box;
  background-color: transparent;
}

.cross {
  height: 180px;
  width: 180px;
  position: relative;
  background-color: transparent;
  transform: rotate(45deg);
}


.cross::before, .cross::after {
  content: '';
  position: absolute;
  background-color: rgb(176, 71, 71);
}

.cross::before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}


.cross::after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

.reset {
  width: 8vw;
  min-width: 100px;
  height: 3vh;
  min-height: 40px;
  margin: 40px;
  border: none;
  border-radius: 15px;
  background-color: rgb(217, 85, 73);
  color: aliceblue;
  font-family: 'Exo', sans-serif;
  font-size: 20px;
}

.reset:hover {
  background-color: rgba(181, 68, 58, 0.996);
}

.title {
  font-family: 'Exo', sans-serif;
  font-size: 80px;
  
}